<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Mi primera pagina</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>!EMPRESA MORALES!</h1>
        <p th:text="${msg}"></p>
        <p th:text="${ini}"></p>
        <br/>
        
        <table border="4">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
            </tr>
            <!-- vamos a poner la lineas hacemos iteracion -->
            <tr th:each="usuario : ${Usuarios}">
                <td th:text="${usuario.Nombre}" ></td>
                <td th:text="${usuario.Apellido}" ></td><
                <td th:text="${usuario.Enero}" ></td>
                <td th:text="${usuario.Febrero}" ></td>
                <td th:text="${usuario.Marzo}" ></td>
            </tr>
        </table>
        
        
    </body>
</html>